.Btn {
  padding: 0.6rem;
  margin: 1rem;
  border: none;
  background-color: Transparent;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  transition: transform 0.25s ease-out;
}

.Btn:hover {
  transform: scale(1.05);
}

.Btn:focus {
  background-color: white;
  color: #bb377d;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .Btn {
    font-size: 1.1rem;
  }
}

@media (max-width: 650px) {
  .Btn {
    font-size: 0.8rem;
  }
}
